<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello, {{ user.name }}!</h1>
    <a href="{% url 'logout' %}">Logout</a>
    <div id='msgbox'>
    {% if messages  %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
    </div>

    <h2>Your Trip Schedules</h2>
    <a href="{% url 'add' %}">Add Travel Plan</a>
    {% if trips %}
      <table>
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
          <th>Planned By</th>
        </tr>
        {% for trip in trips %}
            <tr>
              <td><a href="{% url 'destination' trip.id %}">{{ trip.destination }}</a></td>
              <td>{{ trip.start_date }}</td>
              <td>{{ trip.end_date }}</td>
              <td>{{ trip.plan }}</td>
              <td>{{ trip.planned_by.name }}</td>
            </tr>
        {% endfor %}
      {% else %}
        <p>No Trips Scheduled.</p>
      {% endif %}
      </table>

    <h2>Other User's Travel Plans</h2>
    {% if other_trips %}
      <table>
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
          <th>Planned By</th>
          <th>Do You Want To Join?</th>
        </tr>
        {% for trip in other_trips %}
          <tr>
            <td>{{ trip.destination }}</td>
            <td>{{ trip.start_date }}</td>
            <td>{{ trip.end_date }}</td>
            <td>{{ trip.plan }}</td>
            <td>{{ trip.planned_by.name }}</td>
            <td><a href="{% url 'join_trip' trip.id %}">Join</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <p>No Other Trips Scheduled.</p>
      {% endif %}
      </table>
  </body>
</html>
